<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a friend</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body class="flex flex-col bg-gray-100 text-gray-900">
<div class="w-full" th:insert="~{fragments/navbar :: navigation}"></div>
<!-- Success Message -->
<div th:if="${message}" class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">Success!</strong>
    <span class="block sm:inline" th:text="${message}"></span>
</div>

<!-- Error Message -->
<div th:if="${error}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
    <strong class="font-bold">Error!</strong>
    <span class="block sm:inline" th:text="${error}"></span>
</div>

<div class="self-center container max-w-sm mt-20 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <form action="#" th:action="@{/friends/add}" method="POST">
        <div class="mb-4 text-center">
            <h5 class="inline-block bg-green-500 text-white py-2 px-4 rounded">Enter your friend email</h5>
        </div>

        <div class="mb-4">
            <input type="text" name="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none" placeholder="user@email.com" id="addFriendTextarea" maxlength="500">
        </div>
        <div class="flex items-center justify-between mt-4">
            <button type="submit" class="w-full inline-block align-middle text-center select-none border font-bold whitespace-no-wrap p-3 rounded text-base leading-normal no-underline text-blue-100 bg-blue-500 hover:bg-blue-700" id="addFriendButton">
                Add friend
            </button>
        </div>
    </form>
</div>
</body>
</html>
